
/* 온보딩 정총무 텍스트 폰트 */
@font-face {
  font-family: 'HakgyoansimRikodeo';
  src: url('../assets/fonts/HakgyoansimRikodeo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Pretendard SemiBold */
@font-face {
  font-family: 'Pretendard';
  src: url("../assets/fonts/Pretendard-SemiBold.woff2") format('woff2');
  font-weight: 600;
}

/* Pretendard Medium */
@font-face {
  font-family: 'Pretendard';
  src: url("../assets/fonts/Pretendard-Medium.woff2") format('woff2');
  font-weight: 500;
}

/* Pretendard Bold */
@font-face {
  font-family: 'Pretendard';
  src: url("../assets/fonts/Pretendard-Bold.woff2") format('woff2');
  font-weight: 700;
}
