:root {
    --color-primary: #3b82f6; /* --color-blue-500과 동일 */
    --color-secondary: #2563eb; /* --color-blue-600과 동일 */

    /* neutral */
    --color-neu-50: #fafafa;
    --color-neu-100: #F5F5F5;
    --color-neu-200: #e5e5e5;
    --color-neu-500: #737373;
    --color-neu-700: #404040;
    --color-new-800: #262626;


    /* blue */
    --color-blue-50: #eff6ff;
    --color-blue-100: #dbeafe;
    --color-blue-200: #bfdbfe;
    --color-blue-300: #93c5fd;
    --color-blue-400: #60a5fa;
    --color-blue-500: #3b82f6;
    --color-blue-600: #2563eb;
    --color-blue-700: #1d4ed8;
    --color-blue-800: #1e40af;
    --color-blue-900: #1e3a8a;
    --color-blue-950: #172554;


}